*{
    margin: 0;
}

#primeiroParagrafo{
    border: 4px solid gray;

    border-radius: 12px;
    
}
img{
    border-radius: 16px;
}
#imagem{
    border: 4px solid rgb(192, 38, 38);
    border-radius: 12px;

}
body{
    background-image: url("https://picsum.photos/id/870/600/400");
    background-repeat: no-repeat;
    background-size: 100%;
    
}
