#botao{
    border: 1px solid rgb(218, 8, 8);
    background-color: rgba(83, 13, 245, 0.959);
    border-radius: 5px;
}

#botao:hover{
    color: rgb(14, 131, 235);
    background-color: rgb(154, 156, 6);
    font-size: 100px;
}

#paragrafohover:hover{
    background-color: rgb(243, 7, 192);
    color: aqua;
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 50px;

}

#texto2:hover{
      font-family: "Jersey 15 Charted", sans-serif;
      font-weight: 400;
      font-style: normal;
}
#imagem:hover{
    box-shadow: 10px 10px 10px rgb(105, 186, 201);
    width: 700px;
    height: 700px;
}

#pseudo::before{
    content: 'utilizando before -';
}
#pseudo::after{
    content: 'bla bla';
}

