#container{
    display: flex;
    /* flex-wrap: wrap; */
    border: 2px solid grey;
    /* justify-content: space-evenly; */
    height: 50vh;
    align-items: stretch;

}

.item{
  border: 2px solid;
  background-color: rgb(255, 13, 215);
  /* height: 40px; */
  width: 40px;
  transition: all 0.8s;
  flex-grow: 1;
  
}
.item:hover{
    transform: scale(1.09);
}

.test1{
    order: 1;
}
.test2{
    order: 2;
}