body{
    margin-left: 0;
    margin-right: 0;
}


#secao{
    border: 2px solid black;
    padding-top: 10px ;
    padding-right: 50px ;
    padding-bottom: 20px;
    padding-left: 50px;

}
#secao2{
    border: 1px solid rgb(247, 5, 214);
    padding-top: 10px ;
    padding-right: 50px ;
    padding-bottom: 20px;
    padding-left: 50px;
}
#secao3{
    border: 2px solid rgb(32, 7, 255);
    padding-top: 10px ;
    padding-right: 50px ;
    padding-bottom: 20px;
    padding-left: 50px;
}