#container{
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(6, 5em);
}
.itens{
    border: solid black;
}
#item-1{
    /* grid-column-start: 3;
    grid-column-end: 7; */
    grid-column:  3 / 7;
    grid-row: 2 / 6;
    background-color: blueviolet;

}
#item-2{
    background-color: aqua;
}
#item-3{
    background-color: brown;
}
#item-4{
    
    background-color: chartreuse;
}
#item-5{
    background-color: rgb(253, 11, 172);
}
#item-6{
    background-color: rgb(247, 6, 6);
}
#item-7{
    background-color: rgb(235, 111, 9);
}
#item-8{
    width: 50%;
    /* justify-self: center;
    align-self: center; */
    place-self: center ;
    background-color: rgb(5, 5, 168);
}
