body{
    background-color:#b3e9f3;
    font-family: "Reddit Mono", monospace;
    font-size: 1rem;
    font-weight: 700;
}
h1{color: #6590d1;
    text-shadow: 3px 3px 3px 

}
img{
    height: 500px;
    width:  800px;
}