body{
    background-color: aqua;
}




img{
    width: 700px;
    
}
@media(max-width: 450px) {
    img{
        width: 200px;
    }
}
  img:hover{
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 10px 10px 10px blue
}
@media(min-width: 452px){
    body{
        background-color: rgb(47, 2, 83);

    }
    img{
        width: 900px;
    }
    img:hover{
        border: 15px solid rgb(0, 0, 0);
        box-shadow: 15px 15px 15px;
        border-radius: 10px;
    }


}