*{
    background-color: #eefaa8;
    font-family: "Rajdhani" sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;


}
header{
    background-color: #649ea7;
    text-align: center;
    border: 1px solid #000000;
}
table{
    border: 1px solid #000000;
}
img{
    margin: auto;
    display: block;
}
th{
    border: 1px solid #000000;
    color: #8fbfb9;
    font-weight: bold;

}
td{
    border: 1px solid #000000;

}